<nz-card class="storefront-page">
  <nz-flex nzVertical nzJustify="center" nzAlign="center">
    <div class="text-center">
      <h1>QueuePro Barber</h1>
      <nz-tag nzColor="success">
        <nz-badge nzStatus="success"></nz-badge>
        Aberto
      </nz-tag>
    </div>

    <br />

    <div class="text-center">
      <!-- <span nz-typography nzType="secondary">Tempo de Espera Estimado</span> -->
      <nz-countdown [nzValue]="deadline" nzTitle="Tempo de Espera Estimado"></nz-countdown>
    </div>

    <nz-divider />

    <nz-flex nzVertical nzGap="middle">
      <!-- nossos serviços -->
      <nz-card>
        <nz-card-meta nzTitle="Nossos Serviços" nzDescription="Corte de Cabelo, Barba, Bigode, Lavagem" [nzAvatar]="cardService">
          <ng-template #cardService>
            <i nz-icon nzType="scissor"></i>
          </ng-template>
        </nz-card-meta>
      </nz-card>

      <nz-card>
        <nz-card-meta nzTitle="Endereço" nzDescription="Av. Principal, 123 - Centro" [nzAvatar]="cardIcon">
          <ng-template #cardIcon>
            <i nz-icon nzType="environment"></i>
          </ng-template>
        </nz-card-meta>
      </nz-card>

      <nz-card>
        <nz-card-meta nzTitle="Horário de Funcionamento" nzDescription="Segunda a Sexta: 08:00 - 18:00, Sábado: 08:00 - 14:00" [nzAvatar]="cardClock">
          <ng-template #cardClock>
            <i nz-icon nzType="clock-circle"></i>
          </ng-template>
        </nz-card-meta>
      </nz-card>
    </nz-flex>
  </nz-flex>
</nz-card>
