<nz-flex nzVertical nzGap="middle">
  <nz-flex nzJustify="space-between" nzAlign="center" nzGap="middle" nzWrap="wrap">
    <div>
      <h1>Painel de Administração</h1>
      <span nz-typography nzType="secondary">Gerencie a página pública da sua barbearia.</span>
    </div>

    <button nz-button [routerLink]="['/view']">
      <i nz-icon nzType="eye"></i>
      Ver página pública
    </button>
  </nz-flex>

  <nz-segmented nzBlock [nzOptions]="segmentedOptions" (nzValueChange)="handleValueChange($event)"></nz-segmented>

  @if (selectedOption === eDashboardSegmentedOptions.TimeAndStatus) {
  <nz-card>
    <nz-flex nzVertical nzGap="middle">
      <div>
        <h1>Fila de Espera e Status</h1>
      </div>

      @if (hasWaitingTime()) {
      <nz-countdown [nzValue]="deadline()" nzTitle="Tempo Total da Fila"></nz-countdown>
      } @else {
      <h3>Sem fila no momento</h3>
      }

      <nz-row [nzGutter]="[24, 24]">
        <nz-col [nzLg]="12" [nzXs]="24">
          <nz-flex nzVertical nzAlign="center">
            <span nz-typography nzType="secondary">Diminuir Tempo</span>

            <nz-flex nzGap="small" class="w-full">
              <button nz-button nzBlock nzDanger (click)="adjustWaitingTime(-5)">-5 min</button>
              <button nz-button nzBlock nzDanger (click)="adjustWaitingTime(-10)">-10 min</button>
              <button nz-button nzBlock nzDanger (click)="adjustWaitingTime(-15)">-15 min</button>
            </nz-flex>
          </nz-flex>
        </nz-col>

        <nz-col [nzLg]="12" [nzXs]="24">
          <nz-flex nzVertical nzAlign="center">
            <span nz-typography nzType="secondary">Aumentar Tempo</span>

            <nz-flex nzGap="small" class="w-full">
              <button nz-button nzBlock (click)="adjustWaitingTime(10)">+10 min</button>
              <button nz-button nzBlock (click)="adjustWaitingTime(30)">+30 min</button>
              <button nz-button nzBlock (click)="adjustWaitingTime(40)">+40 min</button>
            </nz-flex>
          </nz-flex>
        </nz-col>
      </nz-row>

      <nz-divider></nz-divider>

      <nz-flex nzGap="small" nzVertical>
        <h3>Status da Loja</h3>

        <nz-flex nzGap="middle">
          <nz-switch [ngModel]="isOpen()" (ngModelChange)="toggleStoreStatus()"></nz-switch>
          <span nz-typography nzType="secondary">{{ isOpen() ? 'Aberta' : 'Fechada' }}</span>
        </nz-flex>
      </nz-flex>
    </nz-flex>
  </nz-card>
  } @else {
  <nz-card>
    <nz-flex nzVertical nzGap="middle">
      <div>
        <h1>Configurações da Barbearia</h1>
        <span nz-typography nzType="secondary">Personalize todos os detalhes que aparecem na sua página pública. </span>
      </div>

      <mb-dynamic-form [config]="configForm" />

      <button nz-button nzType="primary" nzBlock (click)="submit()">
        <i nz-icon nzType="save"></i>
        Salvar Configurações
      </button>
    </nz-flex>
  </nz-card>
  }
</nz-flex>
