<nz-flex nzVertical nzGap="middle">
  <nz-flex nzJustify="space-between" nzAlign="center">
    <div>
      <h1>Painel de Administração</h1>
      <span nz-typography nzType="secondary">Gerencie a página pública da sua barbearia.</span>
    </div>

    <button nz-button>
      <i nz-icon nzType="eye"></i>
      Ver página pública
    </button>
  </nz-flex>

  <nz-segmented nzBlock [nzOptions]="segmentedOptions" (nzValueChange)="handleValueChange($event)"></nz-segmented>

  @if (selectedOption === eDashboardSegmentedOptions.TimeAndStatus) {
  <nz-card>
    <nz-flex nzVertical nzGap="middle">
      <div>
        <h1>Tempo de Espera e Status</h1>
        <span nz-typography nzType="secondary">Ajuste o tempo de espera atual e o status da loja em tempo real. </span>
      </div>

      <h3>Tempo de Espera: <strong>5 minutos</strong></h3>

      <nz-flex nzGap="small" nzAlign="center">
        <button nz-button>-</button>

        <nz-slider></nz-slider>

        <button nz-button>+</button>
      </nz-flex>

      <nz-row [nzGutter]="[24, 24]">
        <nz-col [nzLg]="12" [nzXs]="24">
          <nz-flex nzVertical nzAlign="center">
            <span nz-typography nzType="secondary">Diminuir</span>

            <nz-flex nzGap="small" class="w-full">
              <button nz-button nzBlock nzDanger>-5 min</button>
              <button nz-button nzBlock nzDanger>-10 min</button>
              <button nz-button nzBlock nzDanger>-15 min</button>
            </nz-flex>
          </nz-flex>
        </nz-col>

        <nz-col [nzLg]="12" [nzXs]="24">
          <nz-flex nzVertical nzAlign="center">
            <span nz-typography nzType="secondary">Aumentar</span>

            <nz-flex nzGap="small" class="w-full">
              <button nz-button nzBlock>+5 min</button>
              <button nz-button nzBlock>+10 min</button>
              <button nz-button nzBlock>+15 min</button>
            </nz-flex>
          </nz-flex>
        </nz-col>
      </nz-row>

      <nz-divider></nz-divider>

      <nz-flex nzGap="small" nzVertical>
        <h3>Status da Loja</h3>

        <nz-flex nzGap="middle">
          <nz-switch></nz-switch>
          <span nz-typography nzType="secondary">Fechada</span>
        </nz-flex>
      </nz-flex>
    </nz-flex>
  </nz-card>
  } @else {
  <nz-card>
    <nz-flex nzVertical nzGap="middle">
      <div>
        <h1>Configurações da Barbearia</h1>
        <span nz-typography nzType="secondary">Personalize todos os detalhes que aparecem na sua página pública. </span>
      </div>

      <mb-dynamic-form [config]="configForm" />
    </nz-flex>
  </nz-card>
  }
</nz-flex>
